/* COMIENZO DEL CSS PARA INDEX */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-attachment: fixed;
    background-color: #388cfaaa;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}
footer{
    padding-top: 200px;
}
.logo{
    border-radius: 350px;
    width: 50%;
}
.main{
    margin-top: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align:center;
    font-size: 18px;
    font-style: bold;
    background-color: whitesmoke;
    border-radius: 15px;
    border-color: black;
    margin-left: 25px;
    margin-right: 25px;
}
.input{
    padding-top: 15px;
}
.credentials{
    text-align: center;
    border-radius: 15px;
    height: 30px;
    width: 250px;
}
.recuerdame{
    padding-left: 5px;
}
.button {
    margin-top: 15px;
    /* background-color: #007bff; */
    background-color: #0f3e7d;
    border-radius: 5px;
    margin-bottom: 10px; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
    background-color: rgb(3, 166, 254);
    color: #333;
}
/* FIN DEL CSS PARA INDEX */
/* COMIENZO DEL CSS PARA HOME */
.menu{
    /* background-color: #0d3960; */
    background-color: #3383ed;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.linea{
    background-color: #fa8748;
    height: 5px;
}
.menu .nombre{
    color: white;
    flex: 1;
    text-align: left;
    padding-left: 15px;
}
.menu .logo{
    border-radius: 350px;
    width: 15%;
    align-content: flex-end;
    max-width: 100%;
    margin-right: 25px;
}
.main-menu{
    margin-top: 25%;
    margin-bottom: 50%;
    text-align:center;
    font-size: 18px;
    font-style: bold;
    border-radius: 15px;
    border-color: black;
}
.center-div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}
.center-div .button-menu{
    margin-top: 15px;
    background-color: #0f3e7d;
    border-radius: 5px;
    margin-bottom: 10px; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 350px;
    height: 75px;
}
.button-salir{
    margin-top: 50px;
    background-color: #0f3e7d;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
}
.button-menu:hover{
    background-color: rgb(3, 166, 254);
    color: #333;
}
.button-salir:hover{
    background-color: rgb(3, 166, 254);
    color: #333;
}
.clickable-div:hover{
    background-color: rgb(3, 166, 254);
    color: #333;
}
/* FIN DE CSS DEL HOME */
/* INICIO DE CSS PARA MATERIAS */
* {
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #bebebe transparent;
}
#materiasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.materia {
    width: 500px;
    background-color: #fff;
    margin: 1rem 0rem;
    border: 0.1px solid #fff;
    border-radius: 5px;
    padding: 0rem 0.2rem 0.3rem 0.3rem;
}
.materiaCard{
    background-color: #fff;
    /* margin: 1rem 0rem; */
    border: 0.1px solid #fff;
    border-radius: 5px;
    padding: 0rem 0.2rem 0.3rem 0.3rem;
}
.materiaHeader {
    position: relative;
    display: flex;
    margin: -0.5rem;
}
.estudianteHeader {
    position: absolute;
    top: 15px;
    right: 5px;
}
.estudianteIcon {
    display: flex;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 0.2rem;
    height: 25px;
}
.estudianteIcon img {
    margin-left: 0.2rem;
    width: 25px;
    height: 25px;
}
.pMateria{
    text-align: justify;
    font-weight: bold;
    padding-left: 25px;
}
.pCurso{
    text-align: justify;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 10px;
    display: flex;
}

.pCantidadInscriptos {
    display: inline;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
    margin-right: 0.1rem;
    color: #3383ed;
    font-weight: bold;
}
.botonMateria{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    border: none;
    border-radius: 0.5rem;
    background: transparent;
    margin-top:-2.5rem;
}
.imagenBoton{
    text-align: center;
    height: 15px;
    width: 15px; 
    border-radius: 0.1rem;
}
.botonMateria:hover{
    background-color: #388cfaaa;

}
.datos {
    width: 30px; /* Ajusta el ancho según lo necesites */
    height: 30px; /* Ajusta la altura según lo necesites */
    /* Otros estilos opcionales */
    padding: 5px; /* Espacio interno alrededor del texto */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 3px; /* Borde redondeado */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

input[type="checkbox"] {
    /* Si necesitas ajustar el tamaño del checkbox, puedes usar transform y scale */
    transform: scale(0.8); /* Reduce el tamaño del checkbox al 80% */
}

@media (min-width: 768px) and (max-width: 1023px){
    body{
        font-size: 14px;
    }
    .materia{
        width: 600px;
}
}
@media (min-width: 1024px){
    *{
        font-size: 16px;
    }
    .materia{
        width: 700px;
    }
}
/* MODAL ALUMNOS POR MATERIAS */
.modal {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed; /* Fija el modal en la ventana del navegador */
    z-index: 1; /* Establece la superposición del modal */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita el desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro semitransparente */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fefefe; /* Fondo blanco */
    margin: 15% auto; /* Margen superior e inferior automático y 15% desde los lados */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido del modal */
    max-width: 600px; /* Ancho máximo del contenido del modal */
}

/* Estilos para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.tabla-deslizable {
    max-height: 300px; /* Altura máxima para que sea deslizable */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
.tabla-deslizable th {
    width: 100px; /* Puedes ajustar el ancho según tus necesidades */
}
/* FIN DE CSS DEL MATERIAS */
/* INICIO DE CSS PARA INSCRIPTOS FINALES */

.thPermiso{
    width: 11%;
}
.thDni{
    width: 15%;
}
.thAñoCursada{
    width: 8%;
}
/* FIN DE CSS DEL FINALES */
/*PANTALLA DE DATOS CSS*/
.clickable-div {
    margin: 10px;
    background-color: #0f3e7d;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.hidden-content {
    display: none;
    color: #333;
    padding: 10px;
}
.table{
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}
.table caption{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}
.table tr{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}
.table th, table td{
    font-size: 12px;
    padding: 8px;
    text-align: center;
}
.table thead th{
    text-transform: uppercase;
    background-color: #ddd;
    border: 1px solid #ccc;
}
.table tbody tr:hover{
    background-color: #0f3e7d;
    color: antiquewhite;
}
.table tbody td:hover{
    background-color: rgb(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px){
    .table{
        width: 100%;
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;
    }
    .table caption{
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 8px 0px;
    }
    .table tr{
        background-color: #f8f8f8;
        border: 1px solid #ddd;
    }
    .table, table td{
        font-size: 12px;
        padding: 8px;
        text-align: center;
    }
    .table thead th{
        text-transform: uppercase;
        background-color: #ddd;
        border: 1px solid #ccc;
    }
    .table tbody tr:hover{
        background-color: #0f3e7d;
        color: antiquewhite;
    }
    .table tbody td:hover{
        background-color: rgb(0, 0, 0, 0.2);
    }
}
.mod-datos{
    padding-top: 5px;
    padding-bottom: 15px;
    text-align:center;
    font-size: 18px;
    font-style: bold;
    background-color: whitesmoke;
    border-radius: 15px;
    border-color: black;
    margin-left: 25px;
    margin-right: 25px;
}