<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="shortcut icon" href="../images/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleMesaFinales.css">
    <title>Instituto N°20 Profesores - Inscriptos Finales</title>
</head>
<body>
    <nav class="menu">
        <h2 class="nombre" id="nombreUsuario"></h2>
        <img src="../images/logo.jpg" class="logo">
    </nav>
    <header class="linea"></header>
    <div class="mesasContainer"> </div>
    <button class="button-salir" id="volver">Volver</button>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            try {
                // Intenta obtener los datos del almacenamiento local
                const userDataString = sessionStorage.getItem('userData');

                if (userDataString) {
                    // Si hay datos almacenados, se crea un nuevo objeto
                    const userData = JSON.parse(userDataString);
                    console.log(userData)

                    // Actualiza el contenido del elemento con el ID 'nombreUsuario'
                    document.getElementById('nombreUsuario').textContent = userData.Nombre || 'Nombre de Usuario';
                }
            } catch (error) {
                console.error('Error al cargar la página: ' + error);
            }
        });
    </script>
    <script src="../js/cargarMesaFinales.js"></script>
    <script src="../js/back.js"></script>
</body>

</html>