<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Instituto N°20 Profesores - Materias</title>
</head>

<body>
    <nav class="menu">
        <h2 class="nombre" id="nombreUsuario"></h2>
        <img src="../images/logo.jpg" class="logo">
    </nav>
    <header class="linea"></header>
    <div class="container">
        <div class="clickable-div" onclick="toggleDiv()">Materias</div>
        <div id="hidden-div" class="hidden-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo carrera</th>
                        <th>Nombre carrera</th>
                        <th>Curso</th>
                        <th>Materia Codigo</th>
                        <th>Materia nombre</th>
                        <th>División</th>
                        <th>Condición</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody id="infoMateria">
                </tbody>
            </table>
        </div>
    </div>
    <div class="main-menu">
        <div class="center-div">
            <button class="button-salir" id="volver">Volver</button>
            <script>
                document.addEventListener('DOMContentLoaded', async () => {
                    try {
                        // Intenta obtener los datos del almacenamiento local
                        const usuarioLogin = sessionStorage.getItem('userData');
                        const usuarioMateria = sessionStorage.getItem('materiasData');

                        if (usuarioLogin) {
                            // Si hay datos almacenados, se crea un nuevo objeto
                            const user = JSON.parse(usuarioLogin);
                            // Actualiza el contenido del elemento con el ID 'nombreUsuario'
                            document.getElementById('nombreUsuario').textContent = user.Nombre || 'Nombre de Usuario';
                        }

                        if (usuarioMateria) {
                            let materias = JSON.parse(usuarioMateria);

                            // Asegúrate de que materias sea un array
                            if (!Array.isArray(materias)) {
                                materias = [materias];
                            }

                            console.log(materias);

                            // Obtén la referencia al cuerpo de la tabla
                            const tbody = document.getElementById('infoMateria');

                            // Limpia el contenido actual del cuerpo de la tabla
                            tbody.innerHTML = '';

                            // Itera sobre cada materia y crea una fila para cada una
                            materias.forEach(materia => {
                                // Crea una fila para la materia
                                const fila = tbody.insertRow();

                                // Itera sobre las propiedades específicas de la materia y crea celdas
                                const propiedadesMateria = ['Codigo_carrera', 'Nombre_carrera', 'Curso', 'Materia_codigo', 'Materia_nombre', 'Division', 'Condicion', 'Año'];

                                propiedadesMateria.forEach(propiedad => {
                                    const celda = fila.insertCell();
                                    celda.textContent = materia[propiedad];
                                });
                            });
                        }
                    } catch (error) {
                        console.error('Error al cargar la página: ' + error);
                    }
                });
            </script>
            <script src="../js/script.js"></script>
            <script src="../js/back.js"></script>
</body>

</html>